/* Design for developer Fabián Rojas*/
/* 2019 V1.0*/

/*Utilities*/
a{
    color: #00dbff;
    text-decoration: none;
}
.U-title{
    border-bottom: 2px dashed #00dbff;
    color: #00dbff;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
}
/*End Utilities*/

/* Design for Header*/
.Header{
    background-image: url('../images/back_avenger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    margin-top: 3.75em;
    text-align: center;
}

.fa-plus, .fa-envelope{
    font-size: 5em;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    background-color: orange;
    padding: .2em;
    position: relative;
    bottom: 170px;
}


.Header-image{
    width: 22%;
    margin-top: 2em;
    margin-bottom: .7em;
}
.Header-name{
    color: white;
    font-size: 1.5em;
    font-weight: lighter;

}
.Header-link a{
    color: white;
    font-size: 2.2em;
    font-weight: bold;
}
.MainMenu{
  background-color: #111E1E;
  text-align: center;  
  height: 3.75em;
  line-height: 3.75em;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1; /*Cambia las capas (para que los iconos no queden arriba del nav)*/
}
.MainMenu-link{
    margin-right: 1.5em;
}
.MainMenu-list{
    display: inline-block;
    margin: 0;
}

/*Responsive for Navar*/

@media screen and (max-width:850px){
    .fa-plus, .fa-envelope{
        font-size: 1em;  
        bottom: 300px;
    }
}

@media screen and (max-width:1300px){
    .fa-plus, .fa-envelope{
        font-size: 3em;
        top: 1px; 
    }
}
@media screen and (max-width:324px){
    .MainMenu-link{
       margin-right: 19px;
    }
}

/*End responsive for Navar*/

/*End design for Header*/
/*Design for Profile*/
.Profile{
    text-align: center;
    background-color: black;
}
.Profile-description{
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
}
.Profile-link{
    border-radius: 2em;
    color: white;
    margin-right: .5em;
    padding: .5em 1em;
}
.Profile-link[href*="twitter"]{
    background-color: #00acee;
}
.Profile-link[href*="facebook"]{
    background-color: #3b5998;
}
.Profile-link[href*="instagram"]{
    background-color: #3f729b;
}
.Profile-title, .Works-title{
    margin-top: 0;
    padding-top: .3em;
}
/*End Design Profile*/
/*Design for Works*/
.Works{
    background-color: black; 
    text-align: center; 
}
.Works-imageContainer{
    margin: 1em 0;
}
.Works-item{
    display: inline-block;
    width: 32%;
}
.Works-description{
    color: white;
    text-align: center;
}
.Works-title{
    padding-top: 1em;
}
/*End Design Works*/
/*Design for Footer*/
.Footer{
    background-image: url('../images/back_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.Footer-left{
    display: inline-block;
    width: 32em;
    text-align: center;
    vertical-align: top;
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
}
.Footer-form{
    display: inline-block;
    text-align: center;
    padding: 2em 0;
}
.Footer-formInput, .Footer-textArea{
    background-color: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
}
.Footer-button{
    background-color: orange;
    color: white;
    border-radius: 1em;
    border: none;
    padding: .5em 1em;
}
/*End design for Footer*/